*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(244, 246, 247);
    font-family: sans-serif;
}

header{
    background-color: white;
    height: 100px;
    padding: 20px 10px;
}

#logo{
    height: 100%;
    vertical-align: middle;
}

#title{
    display: inline;
    font-size: 50px;
    vertical-align: middle;
}

.first-main-size{
    width: 70%;
    margin: 30px auto 0;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: white;
}

#task{
    background-color: rgb(57, 153, 228);
    margin-left: 80px;
    line-height: 50px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    border: 2px solid rgb(57, 153, 228);
}

#section{
    line-height: 50px;
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(223, 225, 228);
    border: 2px solid rgb(223, 225, 228);
}

.second-main-size{
    width: 70%;
    margin: 5px auto;
    padding: 25px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
}

section{
    margin-left: 80px;
    padding-top: 40px;
}

.todo{
    margin-bottom: 10px;
}

.down{
    font-size: 0.5em;
}

.phrase{
    margin-bottom: 25px;
}

.check:after{
    content: "\2713";
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    text-align: center;
    padding: 3px;
}

.mark::after{
    content: "\10102";
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
    padding: 3px;
}

.editorial{
    background-color: rgb(57, 153, 228);
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
}

.goals{
    background-color: rgb(136, 86, 221);
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
}

.recruiting{
    background-color: rgb(85, 181, 152);
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
}

.mobile{
    background-color: rgb(236, 140, 40);
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
}

.website{
    background-color: rgb(204, 73, 143);
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
}

.sales{
    background-color: rgb(161, 193, 30);
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
}

/* .m-bottom{
    padding-bottom: 50px;
} */